.login{
	border-radius: 15px;
	box-shadow: 0px 0px 15px lightgray;
	margin: 0 auto;
	padding: 5px 20px 20px 20px;
}

.division{
 	border-top: 1px solid lightgray;
 	margin-top: 10px;
 	padding-top: 10px;
 }

#tiposangre, #telefono, #eps, #especialidad{ 
   display:none; 
 }